.services-page{
    width:90%;
    margin:auto;
    padding:80px 0;
}

.main-title{
    text-align:center;
    font-size:60px;
    margin-bottom:80px;
    color:#6d3cff;
}

.service-section{
    border-bottom:1px solid #0c2e8a;
    padding:80px 0;
}

.service-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.service-text{
    width:50%;
    position:relative;
}

.number{
    position:absolute;
    top:-60px;
    left:0;
    font-size:130px;
    color:#00138d;
    font-weight:bold;
}

.service-text h2{
    font-size:55px;
    color:#6d3cff;
    margin-bottom:20px;
}

.service-text p{
    font-size:22px;
    line-height:2;
}

.service-image{
    width:45%;
}

.service-image img{
    width:100%;
    border-radius:20px;
}

.cards{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    background:rgb(15, 10, 79);
    padding:35px;
    border:2px solid #6d3cff;
    border-radius:15px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #6d3cff;
}

.card h3{
    color:#6d3cff;
    margin-bottom:15px;
    font-size:28px;
}

.card p{
    line-height:1.8;
}

@media(max-width:900px){
    .service-top{
        flex-direction:column;
    }
    .service-text,
    .service-image{
        width:100%;
    }
    .cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .cards{
        grid-template-columns:1fr;
    }
    .main-title{
        font-size:45px;
    }
    .service-text h2{
        font-size:38px;
    }
}

nav{
    position:fixed;
    top:0;
    right:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:rgba(38, 12, 231, 0.95);
    backdrop-filter:blur(8px);
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    z-index:999;
}

.logo{
    font-size:34px;
    font-weight:800;
    color:#24105c;
}

.menu{
    display:flex;
    list-style:none;
    gap:35px;
}

.menu a{
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    color:#24105c;
    transition:.3s;
}

.menu a:hover{
    color:#8368ff;
}

#langBtn{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#24105c;
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

#langBtn img{
    width:20px;
    height:20px;
    border-radius:50%;
}
